<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <application
        android:allowBackup="true"
        android:label="PhoneHub"
        android:theme="@style/Theme.PhoneHub"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ScreenCaptureActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />

        <service
            android:name=".PhoneHubRemoteService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <receiver
            android:name=".PhoneHubDeviceAdminReceiver"
            android:description="@string/device_admin_description"
            android:exported="true"
            android:label="PhoneHub Device Owner"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".PackageInstallReceiver"
            android:exported="false" />

        <service
            android:name=".PhoneHubNotificationListener"
            android:exported="false"
            android:label="PhoneHub Notification Access"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
</manifest>
